<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>Add Items</h1>
    </div>

  </div>

  <br>
  <form>
    <div class="form-group">
      <label for="itemName">Item Name</label>
      <input [(ngModel)]="item.itemName" name="itemName" type="text" class="form-control" id="itemName"
             placeholder="itemName">
    </div>

    <div class="form-group">
      <label for="itemCode">Item Code</label>
      <input [(ngModel)]="item.itemCode" name="itemCode" type="text" class="form-control" id="itemCode"
             aria-describedby="emailHelp"
             placeholder="itemCode">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input [(ngModel)]="item.description" name="description" type="text" class="form-control"
             id="description" placeholder="description">
    </div>


    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label for="category">Item Category</label>

        </div>
        <div class="col-md-6">

          <select class=" col-md-4 btn btn-secondary " type="button" id="category" name="categories"
                  (change)="categorySelect($event.target.value)">
            <option *ngFor="let category of categoriesList" value={{category}} (change)="categorySelect(category)">
              {{category}}
            </option>

          </select>
        </div>

      </div>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input [(ngModel)]="item.price" name="price" type="text" class="form-control"
             id="price" placeholder="price">
    </div>

    <div class="form-group">
      <label for="discount">Discount</label>
      <input [(ngModel)]="item.discountPercentage" name="image" type="text" class="form-control"
             id="discount" placeholder="discount">

    </div>


    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label for="imgSrc">Image</label>

        </div>
        <div class="col-md-6">

          <select class=" col-md-4 btn btn-secondary " type="button" id="imgSrc"
                  name="images" (change)="selectImage($event.target.value)">
            <option *ngFor="let imagePath of itemImagePaths" value={{imagePath}}>
              <app-image-selector [imgSrc]=imagePath></app-image-selector>
            </option>

          </select>

        </div>
        <div class="col-md-3 selected-item-image">
          <img src="{{item.imgSrc}}" alt="">

        </div>

      </div>
    </div>


    <button type="submit" class="btn btn-primary" (click)="saveItem()">Submit</button>

  </form>

</div>
