<div class="container">
  <div class="row">
    <!--<div *ngFor="let cartItem of cartItems" class="col-md-8">-->
    <div *ngFor="let cartItem of cartItems" class="card col-md-6 " style="width: 18rem;">
      <div class="card-body ">
        <!--<div class="col-md-4"> {{cartItem.cartItemId}}</div>-->
        <div class="col-md-4">{{cartItem.item.itemCode}}</div>
        <div class="col-md-4">{{cartItem.item.itemName}}</div>
        <div class="col-md-4">{{cartItem.item.description}}</div>
        <div class="col-md-4">{{cartItem.quantity}}</div>
      </div>
    </div>
  </div>
</div>
