<div class="single-shop-product">
  <div class="product-upper">
    <img src={{item.imgSrc}} alt="">
  </div>
  <h2><a href="">{{item.itemName}}</a></h2>
  <div class="product-carousel-price">
    <div class="row">
      <div class="col-md-4">
        <del>{{item.price}}</del>

      </div>
      <div class="col-md-4">
        <ins>{{item.price*(100-item.discountPercentage)/100}}</ins>

      </div>
    </div>
  </div>

  <!--<div class="product-option-shop">-->
  <!--<a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"-->
  <!--rel="nofollow" href="/canvas/shop/?add-to-cart=70" (click)="addToCartPress()">Add to cart</a>-->
  <!--</div>-->
  <input #quantity type="number" class="form-control" placeholder="quantity">

  <div class="product-option-shop">
    <button class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
            rel="nofollow" (click)="addToCart(item,quantity.value)">Add to cart
    </button>
  </div>


</div>

