<div class="col-md-3 col-sm-6">
  <div class="single-shop-product">
    <div class="product-upper">
      <img src={{item.imgSrc}} alt="">
    </div>
    <h2><a href="">{{item.itemName}}</a></h2>
    <div class="product-carousel-price">
      <ins>{{item.price}}</ins>
      <del>{{item.price*(100-item.discountPercentage)/100}}</del>
    </div>

    <div class="product-option-shop">
      <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
         rel="nofollow" href="/canvas/shop/?add-to-cart=70" (click)="addToCartPress()">Add to cart</a>
    </div>
  </div>
</div>

