<div class="container">
  <h1>Sign In</h1>
  <br>
  <form>
    <div class="form-group">
      <label for="userName">User name</label>
      <input [(ngModel)]="userDetails.userName" name="userName"  type="email" class="form-control" id="userName" aria-describedby="emailHelp"
             placeholder="user name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input  [(ngModel)]="userDetails.password" name="userName" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="signin()">Submit</button>
    <br>
    <br>
    <br>
  </form>

</div>
