<html>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Final Year Project </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Item
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " routerLink="item">add item</a>

          <a class="dropdown-item " routerLink="itemList">view order items</a>

        </div>
      </li>


      <li class="nav-item active">
        <a class="nav-link " routerLink="cart">cart</a>

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="loginDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Login
        </a>
        <div class="dropdown-menu" aria-labelledby="loginDropdown">
          <a class="dropdown-item" routerLink="sign_in">sign in</a>
          <a class="dropdown-item " routerLink="sign_up">sign up</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br><br>
<div class="router-outlet-div" id="router-outlet-div">


  <router-outlet></router-outlet>

</div>

<div class="chat-message-div" id="chat-message-div">


</div>
<app-chat-bot></app-chat-bot>
</body>
</html>
