<html>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">{{projectName}} </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Item
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " routerLink="item">add item</a>

          <a class="dropdown-item " routerLink="itemList">view order items</a>

        </div>
      </li>


      <li class="nav-item active">
        <a class="nav-link " routerLink="cart">cart</a>

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="loginDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Login
        </a>
        <div class="dropdown-menu" aria-labelledby="loginDropdown">
          <a class="dropdown-item" routerLink="sign_in">sign in</a>
          <a class="dropdown-item " routerLink="sign_up">sign up</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br><br>
<div class="router-outlet-div" id="router-outlet-div">


  <router-outlet></router-outlet>

</div>
<div class="footer-top-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="footer-about-us">
          <h2>Final <span>Year Project</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam
            laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure
            eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis
            magni at?</p>
          <div class="footer-social">
            <a href="/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="/" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="/" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="/" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-menu">
          <h2 class="footer-wid-title">User Navigation </h2>
          <ul>
            <li><a href="home">Home</a></li>
            <li><a href="cart">Order history</a></li>
            <li><a href="itemList">Items</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-menu">
          <h2 class="footer-wid-title">Categories</h2>
          <ul>
            <li><a href="#">Electronics</a></li>
            <li><a href="#">Apparel</a></li>
            <li><a href="#">Vehicles @ Accessories</a></li>
            <li><a href="#">Sport & Entertainment</a></li>
            <li><a href="#">Machinery</a></li>
            <li><a href="#">Home & Garden</a></li>
            <li><a href="#">Beaty & Personal Care</a></li>
            <li><a href="#">All Categories</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-newsletter">
          <h2 class="footer-wid-title">Newsletter</h2>
          <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your
            inbox!</p>
          <div class="newsletter-form">
            <form action="#">
              <input type="email" placeholder="Type your email">
              <input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1980.697149858397!2d79.9216326!3d6.8432435!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25076f0c309b9%3A0xb231b480c3576040!2sMaharagama%2010280!5e0!3m2!1sen!2slk!4v1613219020018!5m2!1sen!2slk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
</div> <!-- End footer top area -->

<div class="footer-bottom-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="copyright">
          <p>&copy; 2021 {{projectName}}. All Rights Reserved. </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="footer-card-icon">
          <i class="fa fa-cc-discover col-md-3"></i>
          <i class="fa fa-cc-mastercard col-md-3"></i>
          <i class="fa fa-cc-paypal col-md-3"></i>
          <i class="fa fa-cc-visa col-md-3"></i>
        </div>
      </div>
    </div>
  </div>
</div>


<app-chat-bot></app-chat-bot>
</body>
</html>
