<html>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Final Year Project </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Item
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " routerLink="item">add item</a>

          <a class="dropdown-item " routerLink="itemList">view order items</a>

        </div>
      </li>


      <li class="nav-item active">
        <a class="nav-link " routerLink="cart">cart</a>

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="loginDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Login
        </a>
        <div class="dropdown-menu" aria-labelledby="loginDropdown">
          <a class="dropdown-item" routerLink="sign_in">sign in</a>
          <a class="dropdown-item " routerLink="sign_up">sign up</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br><br>
<div class="router-outlet-div" id="router-outlet-div">


  <router-outlet></router-outlet>

</div>
<!--//////////////////////////////////////////-->
<div class="footer-top-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="footer-about-us">
          <h2>u<span>Stora</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam
            laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure
            eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis
            magni at?</p>
          <div class="footer-social">
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-menu">
          <h2 class="footer-wid-title">User Navigation </h2>
          <ul>
            <li><a href="#">My account</a></li>
            <li><a href="#">Order history</a></li>
            <li><a href="#">Wishlist</a></li>
            <li><a href="#">Vendor contact</a></li>
            <li><a href="#">Front page</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-menu">
          <h2 class="footer-wid-title">Categories</h2>
          <ul>
            <li><a href="#">Mobile Phone</a></li>
            <li><a href="#">Home accesseries</a></li>
            <li><a href="#">LED TV</a></li>
            <li><a href="#">Computer</a></li>
            <li><a href="#">Gadets</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-newsletter">
          <h2 class="footer-wid-title">Newsletter</h2>
          <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your
            inbox!</p>
          <div class="newsletter-form">
            <form action="#">
              <input type="email" placeholder="Type your email">
              <input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End footer top area -->

<div class="footer-bottom-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="copyright">
          <p>&copy; 2015 uCommerce. All Rights Reserved. <a href="http://www.freshdesignweb.com"
                                                            target="_blank">freshDesignweb.com</a></p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="footer-card-icon">
          <i class="fa fa-cc-discover"></i>
          <i class="fa fa-cc-mastercard"></i>
          <i class="fa fa-cc-paypal"></i>
          <i class="fa fa-cc-visa"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<!--//////////////////////////////////////////-->


<div class="chat-message-div" id="chat-message-div">







</div>
<app-chat-bot></app-chat-bot>
</body>
</html>
